In [15]:
# Load People Analytics data in Python
# Data source: https://github.com/keithmcnulty/peopleanalytics-regression-book/tree/master/data

import pandas as pd

def get_pad(sets=['charity_donation','employee_survey','health_insurance',
                  'job_retention','managers','politics_survey','salespeople',
                  'soccer','sociological_data','speed_dating','ugtests'],
            verbose=False):
  
  data = {}

  for set in sets:
    domain = 'https://raw.githubusercontent.com/'
    location = 'keithmcnulty/peopleanalytics-regression-book/master/data/'
    data[set] = pd.read_csv('{}{}{}.csv'.format(domain, location, set))
  
  if verbose:
    for set in sets:
      print('First five observations of {}.csv'.format(set))
      print(data[set].head())
      print('\n\n')

  return(data)

In [16]:
print(type(get_pad()))

<class 'dict'>

In [17]:
get_pad()['ugtests'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr1     975 non-null    int64
 1   Yr2     975 non-null    int64
 2   Yr3     975 non-null    int64
 3   Final   975 non-null    int64
dtypes: int64(4)
memory usage: 30.6 KB

In [18]:
import pytest
pytest

https://kiwidamien.github.io/making-a-python-package-vi-including-data-files.html

https://widdowquinn.github.io/coding/update-pypi-package/

HTTPError: 400 Bad Request from https://test.pypi.org/legacy/
The description failed to render in the default format of reStructuredText. See https://test.pypi.org/help/#description-content-type for more information.

In [21]:
import peopleanalyticsdata

In [23]:
print(peopleanalyticsdata.__version__)

0.1.0

In [26]:
import sys
sys.executable

'/usr/bin/python3'

In [28]:
peopleanalyticsdata.__path__

['/home/jovyan/git/peopleanalytics-python/peopleanalyticsdata']

In [24]:
from peopleanalyticsdata import charity_donation, employee_survey, managers

ImportError: cannot import name 'managers' from 'peopleanalyticsdata' (/home/jovyan/git/peopleanalytics-python/peopleanalyticsdata/__init__.py)

In [25]:
charity_donation()

,n_donations,total_donations,time_donating,recent_donation,last_donation,gender,reside,age
0,1,310,15,0,4,M,Urban Domestic,29
1,3,1200,9,0,6,M,Rural Domestic,41
2,3,1200,27,1,11,M,Urban Domestic,77
3,2,760,6,1,1,F,Overseas,66
4,6,2540,27,0,11,M,Urban Domestic,26
...,...,...,...,...,...,...,...,...
349,1,310,7,0,11,M,Rural Domestic,47
350,16,7010,52,0,11,M,Rural Domestic,25
351,6,2540,26,0,6,F,Rural Domestic,28
352,6,2540,17,0,11,F,Urban Domestic,40
353,4,1650,19,1,11,F,Urban Domestic,68